.fondo-monitor {
    background-color: var(--main-color-4) !important;
    width: 100%;
    height:100vh;
}

.fondo-monitor > .row {   
    height: 100%; 
    background-color: var(--main-color-4) !important;
}

.registros {
    background-color: white;
}

@media (min-height:1505px){
    .fondo-monitor{
        height: 100%;
    }
}